<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Info.Hub || Bhavith</title>
  <base href="/">
  <meta name="color-scheme" content="light" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-223304037-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-223304037-1');
</script>
</head>
<body>
  
       
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
     <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr><td height="21" bgcolor="#0090d9">&nbsp;</td></tr>
           <tr><td height="72" bgcolor="#cfe6ff">
                <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr><td width="318"><img src="/static/images/logo.png" width="221" height="72" alt="" />Bhavithkumar.com....</td>
                       <td width="682"></td>
                   </tr>
                  </table>
                 </td>
                </tr>
            </table>
              </td>
            </tr>
        </table>  
			</table>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
