<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>pplication</title>
  <base href="/">
  <meta name="color-scheme" content="light dark" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/static/css/sty.css">
  <link rel="stylesheet" href="/static/css/sty1.css">
</head>
<body>
  
  <div class="">
    <div class="">
    </div>
  </div>
<script src="script.js" type="module"></script>
<script src="script1.js" nomodule defer></script>
<script src="script2.js" nomodule defer></script>
<script src="script3.js" type="module"></script>
<script src="script4.js" defer></script>
<script src="script5.js" type="module"></script>
<script src="script6.js" nomodule defer></script>
</body>
</html>
